@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* COLORS */
:root {
  --text_color_1: #ffffff;
  --text_color_2: #000;
  --bg_color_1: #24305e;
  --bg_color_2: #fff;
  --bg_color_3: #000;
}
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text_color_1);
  font-family: "Roboto", sans-serif;
}

.text-white {
  color: var(--text_color_1);
}
.text-black {
  color: var(--text_color_2);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 48px;
}

@media only screen and (max-width: 1280px) {
  .title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 30px;
  }
}
/* HEADER */

nav {
  width: 100%;
  position: relative;
  
  background: var(--bg_color_1);
  padding: 55px 90px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container{
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  justify-content: space-between;
}

.nav-title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* padding-left: 100px; */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-link a:hover {
  color: #afb7bb;
}

.lk-btn {
  padding: 10px 20px;
  background: var(--bg_color_2);
  border-radius: 10px;
  color: var(--text_color_2);
  transition: background 0.3s ease-in-out;
}
.lk-btn:hover {
  background: var(--bg_color_3);
  color: var(--text_color_1) !important;
}

@media only screen and (max-width: 1280px) {
  .nav-link {
    font-size: 18px;
    /* padding-left: 50px; */
  }
}

@media only screen and (max-width: 1000px) {
  nav{
    padding: 55px 20px 20px;
  }
  .nav-container{
    width: 100%;
    justify-content: space-between;
  }
  .nav-links{
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  nav{
    padding: 55px 20px 20px;
  }
  .nav-container{
    width: 100%;
    justify-content: center;
  }
  .nav-links{
    width: auto;
    
  }
  .nav-link {
    font-size: 14px;
    padding-left: 20px;
  }
 
}

@media only screen and (max-width: 480px) {
  nav {
    max-width: 480px;
    /* justify-content: center; */
    padding: 35px 0px 20px;
  }
  .nav-container{
    max-width: 480px;
    padding: 0 10px 0;
    justify-content:space-between;
  }
  .nav-title{
    font-size: 48px;
  }
  .nav-link {
    display: none;
  }
  .nav-link:last-child {
    display: block;
  }
}
@media only screen and (max-width: 360px) {
  .nav-title {
    font-size: 36px;
  }
}
/* INTRO */
.intro {
  background: var(--bg_color_1);
  display: flex;
  position: relative;
}

.intro-inner {
  margin: 0 auto 50px;
  width: 80%;
  display: flex;
}
.intro-text {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 800;
  width: 45%;
  /* line-height: 130%; */
}

.intro-text a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-top: 30px;
}

.intro-img {
  margin-left: 250px;
}

.intro-img img {
  width: 80%;
  /* height: 80%; */
}

@media only screen and (max-width: 1280px) {
  .intro-text {
    font-size: 64px;
  }
  .intro-img {
    margin-left: 150px;
  }
  .intro-img img {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .intro-inner {
    width: 90%;
    margin: 0 auto;
  }
  .intro-text {
    font-size: 48px;
  }
  .intro-text a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .intro-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }

  .intro-text {
    width: 80%;
    font-size: 48px;
  }
  .intro-text a {
    display: none;
  }
  .intro-img {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  /* .intro{
    max-width: 480px;
  }
  .intro-inner {
    margin: 0 0 20px;
  }
  .intro-text {
    font-size: 32px;
    text-align: left;
  }
  .intro-img img {
    width: 100%;
  } */

  .intro-text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .intro-text {
    font-size: 28px;
  }
}
/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 10px;
  left: 0;
  right: 0;
  bottom: -100px;
}
.card {
  padding: 25px 40px;
  width: 396px;
  height: 230px;
  max-width: 396px;
  position: relative;
  box-shadow: 0 10px 15px -15px rgba(36, 48, 94, 0.4),
    0 5px 5px -10px rgba(36, 48, 94, 0.4);
}

.card-title {
  margin-bottom: 15px;
  font-size: 25px;
  display: flex;
}
.card-description {
  font-size: 18px;
  margin-bottom: 10px;
}
.card-img {
  position: absolute;
  bottom: 10px;
}
.phone-card-img {
  display: none;
}
#first-card {
  background: #c4cfd4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#second-card {
  background: #000000;
}

#third-card {
  background: #e4eaed;
}

#fourth-card {
  background: #e04c4c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title-light {
  color: #fff;
}
.card-description-light {
  color: #e4eaed;
  color: rgba(228, 234, 237, 85%);
}

.card-description-dark {
  color: rgba(30, 35, 45, 50%);
}
@media only screen and (max-width: 1280px) {
  .cards {
    margin: 0 10px;
  }
  .card {
    padding: 15px 40px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .cards {
    margin: 0 10px;
    bottom: -160px;
  }
  .card {
    padding: 25px 15px;
    height: 240px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    margin: 0 10px;
    display: grid; 
    grid-template-columns: 374px 374px;
    grid-template-rows: 265px 265px;
    /* width: 96%; */
    
    bottom: -55%;
  }
  .card {
    /* margin: 0 10px; */

    width: 374px;
    height: 265px;
  }
  .card-title {
    font-size: 25px;
  }
  .card-description {
    font-size: 18px;
  }
  #first-card {
    /* margin: 0 10px; */

    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
  }
  #second-card {
    background: #000000;
    border-top-right-radius: 10px;
  }

  #third-card {
    background: #e4eaed;
    border-bottom-left-radius: 10px;
  }
  #fourth-card {
    border-top-right-radius: 0px;

    border-bottom-right-radius: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 440px;
    grid-template-rows: 173px;
    width: 90%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    bottom: -70%;
  }
  .card {
    width: 440px;
    height: 173px;
    padding: 25px 25px;
  }
  .card-title {
    align-items: center;
  }
  .phone-card-img {
    display: block;
    width: 20%;
    height: 20%;
  }
  .card-img {
    display: none;
  }

  #first-card {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #second-card {
    background: #000000;
    border-top-right-radius: 0px;
  }

  #third-card {
    background: #e4eaed;
    border-bottom-left-radius: 0px;
  }
  #fourth-card {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .cards {
    grid-template-columns: 320px;
    bottom: -92%;
  }
  .card {
    width: 320px;
  }
  .card-title {
    font-size: 22px;
  }
  .card-description {
    font-size: 16px;
  }
}

/* ADVANTAGES */
.advantages {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 170px;
}

.advantages p {
  width: 40%;
}
.reasons {
  width: 60%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
}

.reason {
  width: 90%;
}

.reason-num {
  width: 90%;
  font-size: 18px;
  color: rgba(30, 35, 45, 40%);
  margin-bottom: 8px;
}

.reason-title {
  margin: 0 !important;
  width: 100% !important;
  padding: 0;
  font-size: 25px;
}
.reason-description {
  width: 100% !important;
  font-size: 16px;
  color: rgba(30, 35, 45, 60%);
}

@media only screen and (max-width: 1280px) {
  .reasons {
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .advantages {
    width: 90%;
  }
  .advantages p {
    margin-right: 10px;
  }
  .reasons {
    margin-top: 5px;
  }
  .reason-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .advantages {
    margin-top: 450px;
    flex-direction: column;
  }
  .advantages p {
    width: 95%;
  }
  .reasons {
    margin-top: 30px;
    width: 95%;
    grid-column-gap: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .advantages {
    margin-top: 600px;
  }
  .reasons {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

/* GUIDE */

.guide {
  background: rgba(228, 234, 237, 50%);
  margin-top: 100px;
}

.guide-inner {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}

.steps {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

.step-title {
  font-weight: 700;
  font-size: 30px;
}

.step-description {
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .guide-inner {
    width: 90%;
  }
  .step-title {
    font-size: 22px;
  }
  .step-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .guide {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 360px) {
  .reasons {
    display: flex;
    flex-direction: column;
  }
}

/* SUB */

.subscription {
  width: 84%;
  margin: 100px auto;
  padding: 60px 40px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
    0 5px 5px -5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.sub-description {
  font-size: 20px;
  margin: 25px 0;
}

.sub-price {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}

.sub-btn {
  background: #3aafa9;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Roboto";
}

@media only screen and (max-width: 1000px) {
  .subscription {
    width: 98%;
  }
}

@media only screen and (max-width: 768px) {
  .subscription {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .steps {
    display: flex;
    flex-direction: column;
  }
}

footer {
  background: var(--bg_color_1);
  padding: 55px 90px;
}

.footer-inner {
  display: flex;

  margin-top: 20px;
}

.shortlinks {
  margin-top: 10px;
}

.shortlinks ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}
.socials {
  margin-left: 200px;
}
.socials ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.socials ul li img {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .shortlinks ul {
    grid-row-gap: 0px;
    grid-column-gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-inner {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .footer-inner {
    align-items: center;
  }
  .socials {
    align-items: left;
    margin-top: 20px;
    margin-left: 0;
  }
}
