@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body{
    background: #24305e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    color: #fff;
    text-decoration: none;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-horizontal{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group label{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.form-group div{
    margin-bottom: 15px;

}

.form-group input{
    padding: 10px 20px;
    max-width: 500px;
    min-width: 250px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


.auth-problems{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    min-width: 290px;
}

.register-problems{
    margin: 0 auto;
}
.btn-default{
    padding: 10px 20px;
    width: 200px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    transition: all .2s ease-in-out;

}

.btn-login-submit:hover{
    background: #000;
    color: #fff;
}

.error-container{
    max-width: 290px;
}
.error-text{
    
    margin-top: 5px;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: red;
}