.menu-section{
    border: 9px solid #fff;
    border-radius: 15px;
    /* padding-bottom: 10px; */
}
.menu {
    width: 100%;
    /* border: 9px solid #fff; */
    border-bottom: none;
}

.category {
    display: flex;
    flex-direction: column;
}

.category-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* border-top: 3px solid #fff; */
    border-bottom: 3px solid #fff;
    padding: 15px 30px;
    position: relative;
}

.category-dishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* border-right: 1px solid #fff; */
    border-bottom: 2px solid #fff;
}

.category-select{
    max-width: 500px;
    padding: 15px 30px 0px;
}

.button-edit-category{
    /* position: absolute;
    left: 5px; */
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
@media only screen and (max-width: 1025px) {
  .category-dishes {
    grid-template-columns: 2fr;

}
}
@media only screen and (max-width: 768px) {
    .category-select{
        max-width: 500px;
        padding: 15px 15px 0px;
    }
    .category-dishes {
        /* display: flex;
        flex-direction: column; */
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    .category-title {
        padding: 15px 10px;
        font-size: 28px;
    }
}




