<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <div class="container">

        <form class="form-horizontal ajax-post" role="form" method="POST">
            {% csrf_token %}

            <div class="form-group" style="display: none;">
                <label for="token" class="col-sm-2 control-label">Token</label>
                <div class="col-sm-10">
                  <input name="token" type="text" class="form-control" id="token" placeholder="Token">
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="uid" class="col-sm-2 control-label">Uid</label>
                <div class="col-sm-10">
                  <input name="uid" type="text" class="form-control" id="uid" placeholder="Uid">
                </div>
              </div>
            <div class="form-group">
              <label for="new_password1" class="col-sm-2 control-label">{% trans "Пароль" %}</label>
              <div class="password1-container">
                <input name="new_password1" type="password" class="new_password1" placeholder="Пароль">
              </div>
            </div>
            <div class="form-group">
              <label for="new_password2" class="col-sm-2 control-label">{% trans "Повторите пароль" %}</label>
              <div class="password2-container">
                <input name="new_password2" type="password" class="new_password2" placeholder="Повторите пароль">
              </div>
            </div>
    
            
            <div class="form-group">
              <div>
                <button type="button" class="btn btn-default btn-reset-password-submit">{% trans "Подтвердить" %}</button>
              </div>
            </div>
            <div class="form-group auth-problems">
              <div>
                <a href="{% url 'register-page' %}">{% trans "Зарегестрироваться" %}</a>
              </div>
              <div>
                <a id="login-page" href="{% url 'login-page' %}">{% trans "Войти" %}</a>
              </div>
            </div>
            
        </form>
      </div>
      <script type="text/javascript">
                
        var url_elements = window.location.pathname.split('/');
        if (url_elements.length == 6){
            var uid = url_elements[url_elements.length - 3];
            if (uid !== undefined){
                document.querySelector('input[name="uid"]').value = uid
            }
            var token = url_elements[url_elements.length - 2];
            if (token !== undefined){
                document.querySelector('input[name="token"]').value = token
            }
        }
    </script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/auth.js' %}"></script>
    
</body>
</html>










