.menus-select-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0px 50px;
}

.menus-section{
    /* display: flex; */
}
.menu-select{
    width: 400px;
    height: 200px;
    position: relative;
    background: inherit;
    /* display: flex; */
    /* position: absolute; */

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    overflow: hidden;
}

.menu-select:before{
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
    -webkit-backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.menu-select-create-btn{
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: none;
}



.menu-select img{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    z-index: -2;
}

.menu-select-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
}

.menu-select p{
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    color: #333333;
}




@media only screen and (max-width: 768px) {
    .menus-section{
        display: flex;
        flex-direction: column;
    }
    .menu-select{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 460px) {
    .menu-select{
        width: 330px;
        height: 150px;
    }
}